#card-profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /*margin: auto;*/
    text-align: center;
}
#bl{
    background-color: #000;
}
#title-pr {
    color: grey;
    font-size: 18px;
}

#bt-pro {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.link-pr {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

#br-pro:hover, .link-pr:hover {
    opacity: 0.7;
}